@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.Button{
    background: #2B3C4E;
    border-radius: 4px;
    color: white;
    width: 370px;
    height: 50px;
    outline: none;
    border: none;
    margin-bottom: 12px;
}
.Button:hover{
    cursor: pointer;
}
.admin-log{
    background: #ffff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2B3C4E;
}
.assessment-button{
    width: 125px;
    height: 41px;
}
.finish-button{
    width: 205px;
    height: 41px;
    background: #00F026;
}
.success-button{
    width: 205px;
    height: 41px;
    background: #31D283;
    border-radius: 4px;
}
