.result{
    position: absolute;
    float: right;
    width: 1200px;
    height: 1024px;
    top: 0px;
    left: 222px;
    padding-left: 70px;
}   

.result-select{
    position: absolute;
    width: 299px;
    height: 53px;
    top: 101px;
    border: #2B3C4E;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 43.5555px;
    justify-content: left;
    line-height: 52px;
    margin-bottom: 20px;
}

.result-entries{
    display: inline-flex;
    width: auto;
   width: 450px;
   /* margin-top: 100px; */
}

.result-entries select{
    background: #fff;
    color: #2B3C4E;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    margin-top: -6px;
    width: 180px;
    height: 63px;
    border: none;
    font-size: 43.5555px;
    outline: none;
}

.result-entries select option{
    border: oldlace;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    height: 23px;
    font-size: 23.5555px;
}

tbody tr:hover {
    box-shadow: 8px 18px 20px rgba(79, 79, 79, 0.3);
    border-left: 4px solid #31D283 ;
    border-radius: 8px;
    /* margin-bottom: 10px; */
}

#result-entry-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 43.5555px;
    margin-top: 0px;
}


table thead tr{
    background-color: #2B3C4E;
    /* height: 46px; */
    color: #fff;
}
table tbody tr td{
    height: 40px;
}

tbody tr{
    text-align: center;
    color: #2B3C4E;
}

#result-entry-text2{
    margin-top: 0px;
}

#cgpa{
    /* display: flex; */
    text-align: center;
}

#score{
    text-align: center;
}
th #score{
   margin-top: 15px; 
}

#cgpabtn {
    display: block;
    width: 8px;
    /* height: 12px; */
    /* margin-left: 8px; */
    background-color: #2B3C4E;
    justify-content: center;
}

#agebtn {
    display: block;
    /* width: 8px; */
    background-color: #2B3C4E;
    justify-content: center;
}
/* .age{
    display: flex;
} */
#cgpabtn2 {
    /* width: 8px;
    height: 10px; */
    fill: #2B3C4E;
}

#scorebtn {
    display: block;
    /* width: 8px;
    height: 10px; */
    /* margin-left: 202px; */
    background-color: #2B3C4E;
    justify-content: center;
}

#scorebtn2 {
    /* width: 8px;
    height: 10px; */
    fill: #2B3C4E;
    margin-bottom: 10px;
    /* margin-left: 134px; */
}
#dob{
    display: flex;
    align-content: center;
    justify-content: center;

}
.up, .down{
    grid-column: 1;
  }
#age{
    display: grid;
    grid-template-columns: 0.9fr 0.4fr;
    justify-content: center;
    margin-left: 14%;
    /* align-content: center;
    align-items: center; */
}
#cgp{
    display: grid;
    grid-template-columns: 0.7fr 0.4fr;
    justify-content: center;
    margin-left: 14%;
    /* align-content: center;
    align-items: center; */
}
#scores{
    display: grid;
    grid-template-columns: 0.9fr 0.5fr;
    justify-content: center;
}
.scores{
    display: grid;
}
.age{
    display: grid;
    grid-column-gap: 5px;
}
.table th {
    text-align: center;
  }

#agebtn2 {
    /* width: 8px;
    height: 12px; */
    fill: #2B3C4E;
    margin-top: 10px;
    /* margin-left: -8px; */
}

/* .ent-table {
    border-collapse: collapse;
    width: 1000px;
    position: absolute;
    left: 104px;
    top: 230px;
} */
/* .arrow{
  justify-content: center;
} */
