/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

.mainpage{
    position: absolute;
    width:1400px;
    height: 1024px;
    background-size: 100vh;
}

.dashboard{
    position: absolute;
    float: right;
    width: 1200px;
    height: 1024px;
    top: 0px;
    left: 222px;
    padding-left: 70px;
    margin-top: 70px;
}

.dashboard-section{
    position: relative;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    /* padding: 20px; */
}

.history{
    width: 1200px;
    margin-top: 90px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 0fr;
}

.dashtext{
    font-family: 'Lato';
    font-style: normal;
    font-size: 43.5555px;
    letter-spacing: -0.02em;
    color: #2B3C4E;
    margin-bottom: 50px;
}

.assessment-section{
    text-align: center;
    width: 582px;
    height: 307px;
    margin-left: 20px;
}

.history-list {
    display: grid;
    grid-template-columns: .4fr .3fr .5fr;
    float: left;
    width: 482px;
    /* margin-top: 40px; */
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.academySelected{
    position: inherit;
    border-radius: 8px;
    border-left: 4px solid #5ABEFD;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 8px 18px 20px rgba(79, 79, 79, 0.3);
    text-align: center;
}

.history-list:hover{
    cursor: pointer;
}
