.enyata-forgot-password{
    justify-content: center;
    align-items: center;
}
.background{
    margin-top: 3%;
}
.forgot-password-text{
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 18px;
}
.heading{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2B3C4E;
    text-align: center;
    margin:0;
    margin-top: 8px;
    margin-bottom: 30px;
}
.server-success{
    text-align: center;
    color: #31D283;
}
