@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&family=Nunito+Sans:ital,wght@1,300&display=swap');
.sidebar{
    color: #ffffff;
    width: 235px;
    height: 840px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    float: left;
    position: fixed;
}

/* .enyata-logo{
    margin-top: 40px;
} */

.top-bar{
    width: 250px;
    height: 255px;
    left: 0px;
    top: 0px;
    background: #5ABEFD;
    text-align: center;
    line-height: 19px;
    
}

.tab-list{
    height: 20px;
    top: 287px;
    /* margin-left: 0px; */
}

.joshe{
    font-size: 16px;
    color: #2B3C4E;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-top: 5px;
}
p{
    margin: 0;
}

.josh{
    color: #2B3C4E;
    font-weight: bold;
    font-size: 20px;
    margin-top: 12px;
}

