@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.form-content{
    display: grid;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
.form-input1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 58px;
    margin-bottom: 26px;
}
.enyata-logo{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.enyata-logo2{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.text{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2B3C4E;
    text-align: center;
    margin:0;
    margin-top: 8px;
    margin-bottom: 50px;
}
.right-input{
    padding-left: 50%;
}
.button {
   text-align: center;
   margin-top: 10px;
}
.forgot-password {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    margin: 0;
}
.forget-two{
    margin-left: 50px;
}
a{
    color: #4F4F4F;
}
 .eyes{
    margin-top: -8%;
    margin-left: 91%;

} 
